* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: clamp(4%, 0.1% + 0.2vw, 6.25%);
  font-size: 6.25%;

  --hue: 194;
  --bg-color: hsl(var(--hue), 5%, 7%);
  --text-color: hsl(var(--hue), 40%, 98%);
  --bg-timer-buttons: hsl(var(--hue), 0%, 14%);
  --btn-primary-color: hsl(var(--hue), 100%, 63%);
  --btn-secondary-color: hsl(var(--hue), 40%, 98%);
}

html.light {
  --bg-color: hsl(var(--hue), 40%, 98%);
  --text-color: hsl(var(--hue), 5%, 7%);
}

body {
  background-color: var(--bg-color);

  font-family: Roboto, sans-serif;

  display: grid;
  place-items: center;

  height: 100vh;
}

button {
  background-color: transparent;
  color: var(--btn-primary-color);

  cursor: pointer;

  border: none;

  font-size: 64rem;
}

.theme {
  position: absolute;
  top: 32rem;
  right: 32rem;
}

.toggle-mode {
  color: var(--text-color);
  font-size: 32rem;
}

.toggle-mode span {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 16rem;
}

.time {
  display: flex;
  justify-content: center;

  color: var(--text-color);
  font-size: 96rem;
  font-weight: 700;
}

.controls {
  background-color: var(--bg-timer-buttons);

  padding: 22rem 40rem;
  border-radius: 9999rem;
}

.controls #buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16rem;

  list-style: none;
}


/* State Controls */

.running #btn-play,
.running #btn-set-time,
.music-on #btn-sound-off,
.light #btn-dark-theme,
html:not(.running) #btn-pause,
html:not(.running) #btn-stop,
html:not(.music-on) #btn-sound-on,
html:not(.light) #btn-light-theme {
  display: none;
}


/* Classes utilitárias */

.secondary {
  color: var(--btn-secondary-color)
}