* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 6.25%;

  --color-main: 194;

  --bg-app: hsl(240, 5%, 7%);
  --bg-timer-buttons: hsla(var(--color-main), 100%, 63%, 0.129);

  --c-time: hsl(0, 0%, 100%);
  --c-buttons: hsl(var(--color-main), 100%, 63%);
}

body {
  background-color: var(--bg-app);

  font-family: Roboto, sans-serif;

  display: grid;
  place-items: center;

  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 16rem;

  max-width: 230rem;
}

.time {
  display: flex;
  justify-content: center;

  color: var(--c-time);
  font-size: 88rem;
  font-weight: 700;
}

button {
  background-color: transparent;
  border: none;
}

#btn-play svg path,
#btn-pause svg path,
#btn-mute svg path {
  fill: var(--c-buttons);
}

.btns-timer {
  border-radius: 100px;
  background-color: var(--bg-timer-buttons);

  display: flex;
  gap: 32rem;
  justify-content: center;

  padding: 22rem 40rem;
}

.btn-audio {
  position: absolute;
  bottom: 32rem;
  right: 40rem;
}

.hide {
  display: none;
}