* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 6.25%;

  --color-main: 194;

  --bg-app: hsl(240, 5%, 7%);
  --primary-color: hsl(240, 40%, 98%);
  --bg-timer-buttons: hsl(0, 0%, 14%);
}

body {
  background-color: var(--bg-app);

  font-family: Roboto, sans-serif;

  display: grid;
  place-items: center;

  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 16rem;
}

.time {
  display: flex;
  justify-content: center;

  color: var(--primary-color);
  font-size: 96rem;
  font-weight: 700;
}

.controls {
  background-color: var(--bg-timer-buttons);

  padding: 22rem 40rem;
  border-radius: 9999rem;
}

.controls #buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16rem;

  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.theme {
  position: absolute;
  top: 32rem;
  right: 32rem;
}



/* Classes utilitárias */

.hide {
  display: none;
}